*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header" 
        "nav content side" 
        "footer footer footer" ;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: auto 1fr auto;
    /* gap: 10px; */
    /* background-image: url('pictures/muffinBasket.png'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* padding: 0px;
    margin: 0px; */
}

.main-inner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* grid-template-columns: 70px 70px 70px 1fr; */
    /* background-color: rgb(153, 153, 35); */
}
.pic {
  border: 5px solid rgb(132, 148, 105);
  padding-top: 10px;
  color:rgb(175, 111, 50)
}
.cards {
    border: 5px solid rgb(85, 121, 27);
    padding-top: 10px;
}

header {
    text-align: center;
    grid-area: header;
    /* background-color: #648ca6; */
}

nav {
    text-align: center;
    grid-area: nav;
    background-color: rgb(74, 124, 124);
}

main {
    grid-area: content;
    /* background-color: rgb(66, 163, 115); */
    background-image: url('pictures/muffinBasket.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
  text-align: center;
  font-size: 100px;
  border: 5px solid rgb(243, 186, 79);
}


aside {
    text-align: center;
    grid-area: side;
    background-color: rgb(44, 65, 110);
}

footer {
    text-align: center;
    grid-area: footer;
    background-color: rgb(204, 228, 138);
}